<app-header></app-header>
<ion-content class="cards-bg">
  <ion-grid fixed>
    <ion-row>
      <ion-col size-md="6" size="12">
        <ion-card>
          <img src="assets/car-promotion1.jpg"/>
          <ion-card-content>
            <ion-card-title>
              Nine Inch Nails Live
            </ion-card-title>
            <p>
              The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
            </p>
          </ion-card-content>
          <ion-row no-padding>
            <ion-col text-left size="4">
              <ion-button fill="clear" icon-start color="danger" small>
                <ion-icon name='star'></ion-icon>
                Save
              </ion-button>
            </ion-col>
            <ion-col text-center size="4">
              <ion-button fill="clear" icon-start color="danger" small>
                <ion-icon name='basket'></ion-icon>
                Buy
              </ion-button>
            </ion-col>
            <ion-col text-right size="4">
              <ion-button fill="clear" icon-start color="danger" small>
                <ion-icon name='share-alt'></ion-icon>
                Share
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size-md="6" size="12">
        <ion-card>
          <div>
            <img src="assets/car-promotion1.jpg" />
          </div>
          <ion-card-content>
            <ion-card-title>
              Erykah Badu
            </ion-card-title>
            <p>
              American singer-songwriter, record producer, activist, and actress, Badu's style is a prime example of
              neo-soul.
            </p>
          </ion-card-content>
          <ion-row no-padding>
            <ion-col text-left size="4">
              <ion-button fill="clear" icon-start color="danger" small>
                <ion-icon name='star'></ion-icon>
                Save
              </ion-button>
            </ion-col>
            <ion-col text-center size="4">
              <ion-button fill="clear" icon-start color="danger" small>
                <ion-icon name='basket'></ion-icon>
                Buy
              </ion-button>
            </ion-col>
            <ion-col text-right size="4">
              <ion-button fill="clear" icon-start color="danger" small>
                <ion-icon name='share-alt'></ion-icon>
                Share
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" size="12">
        <ion-card>
          <div>
            <img src="assets/car-promotion1.jpg" />
          </div>
          <ion-card-content>
            <ion-card-title>
              Queen
            </ion-card-title>
            <p>
              The British rock band formed in London in 1970, and is considered one of the biggest stadium rock bands in
              the
              world.
            </p>
          </ion-card-content>
          <ion-row no-padding>
            <ion-col text-left size="4">
              <ion-button fill="clear" icon-start color="danger" small>
                <ion-icon name='star'></ion-icon>
                Save
              </ion-button>
            </ion-col>
            <ion-col text-center size="4">
              <ion-button fill="clear" icon-start color="danger" small>
                <ion-icon name='basket'></ion-icon>
                Buy
              </ion-button>
            </ion-col>
            <ion-col text-right size="4">
              <ion-button fill="clear" icon-start color="danger" small>
                <ion-icon name='share-alt'></ion-icon>
                Share
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size-md="6" size="12">
        <ion-card>
          <div>
            <img src="assets/car-promotion1.jpg" />
          </div>
          <ion-card-content>
            <ion-card-title>
              Run-D.M.C.
            </ion-card-title>
            <p>
              The American hip hop group widely acknowledged as one of the most influential acts in the history of hip
              hop.
            </p>
          </ion-card-content>
          <ion-row no-padding>
            <ion-col text-left size="4">
              <ion-button fill="clear" icon-start color="danger" small>
                <ion-icon name='star'></ion-icon>
                Save
              </ion-button>
            </ion-col>
            <ion-col text-center size="4">
              <ion-button fill="clear" icon-start color="danger" small>
                <ion-icon name='basket'></ion-icon>
                Buy
              </ion-button>
            </ion-col>
            <ion-col text-right size="4">
              <ion-button fill="clear" icon-start color="danger" small>
                <ion-icon name='share-alt'></ion-icon>
                Share
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>