<app-header></app-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Car Price (MYR)</ion-label>
      <ion-input type="number" [(ngModel)]="price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Duration</ion-label>
      <ion-select [(ngModel)]="duration">
        <ion-select-option [value]="item" *ngFor="let item of [1, 2, 3, 4, 5]">{{ item }} Year(s)</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col size-md="6" size="12">
      <ion-button expand="block" (click)="onSubmit($event)">Submit</ion-button>
    </ion-col>
    <ion-col size-md="6" size="12">
      <ion-button expand="block" color="danger" (click)="onCancel()" >Cancel</ion-button>
    </ion-col>
  </ion-row>
  <ion-text color="dark" *ngIf="payPerMonth > 0" >
    <h5>Payment Per Month: {{ payPerMonth }} MYR</h5>
  </ion-text>
</ion-content>