// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// DISPLAY UTILITIES
// $grid-widths: (
//   xs: var(--ion-grid-width-xs, var(--ion-grid-width, 100%)),
//   sm: var(--ion-grid-width-sm, var(--ion-grid-width, 540px)),
//   md: var(--ion-grid-width-md, var(--ion-grid-width, 720px)),
//   lg: var(--ion-grid-width-lg, var(--ion-grid-width, 960px)),
//   xl: var(--ion-grid-width-xl, var(--ion-grid-width, 1140px))
// );

.d-none {
  display: none !important;
}
@media only screen and (min-width: 768px){
  .d-none-md {
    display: none !important;
  }
  .d-flex-md {
    display: flex !important
  }
}